secrets/** filter=git-crypt diff=git-crypt
vars/** filter=git-crypt diff=git-crypt
hosts/router-01/** filter=git-crypt diff=git-crypt
users/francis/secrets/** filter=git-crypt diff=git-crypt
common/vectera.nix filter=git-crypt diff=git-crypt
common/excentis.nix filter=git-crypt diff=git-crypt
acme.nix filter=git-crypt diff=git-crypt
